In [1]:
import pandas as pd

uri = 'https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv'
dados = pd.read_csv(uri)
dados.head()

   Unnamed: 0  mileage_per_year  model_year      price sold
0           0             21801        2000   30941.02  yes
1           1              7843        1998   40557.96  yes
2           2              7109        2006   89627.50   no
3           3             26823        2015   95276.14   no
4           4              7935        2014  117384.68  yes

In [2]:
a_renomear = {
    'mileage_per_year': 'milhas_por_ano', 
    'model_year': 'ano_modelo', 
    'price': 'preco', 
    'sold': 'vendido'
    }
dados = dados.rename(columns = a_renomear)
dados.head()

   Unnamed: 0  milhas_por_ano  ano_modelo      preco vendido
0           0           21801        2000   30941.02     yes
1           1            7843        1998   40557.96     yes
2           2            7109        2006   89627.50      no
3           3           26823        2015   95276.14      no
4           4            7935        2014  117384.68     yes

In [3]:
a_trocar = {
    'no': 0,
    'yes': 1
}
dados.vendido = dados.vendido.map(a_trocar)
dados.head()

   Unnamed: 0  milhas_por_ano  ano_modelo      preco  vendido
0           0           21801        2000   30941.02        1
1           1            7843        1998   40557.96        1
2           2            7109        2006   89627.50        0
3           3           26823        2015   95276.14        0
4           4            7935        2014  117384.68        1

In [4]:
from datetime import datetime

ano_atual = datetime.today().year
dados['idade_do_modelo'] = ano_atual - dados.ano_modelo
dados.head()

   Unnamed: 0  milhas_por_ano  ano_modelo      preco  vendido  idade_do_modelo
0           0           21801        2000   30941.02        1               23
1           1            7843        1998   40557.96        1               25
2           2            7109        2006   89627.50        0               17
3           3           26823        2015   95276.14        0                8
4           4            7935        2014  117384.68        1                9

In [5]:
dados['km_por_ano'] = dados.milhas_por_ano * 1.60934
dados.head()

,Unnamed: 0,milhas_por_ano,ano_modelo,preco,vendido,idade_do_modelo,km_por_ano
0,0,21801,2000,30941.02,1,23,35085.22134
1,1,7843,1998,40557.96,1,25,12622.05362
2,2,7109,2006,89627.50,0,17,11440.79806
3,3,26823,2015,95276.14,0,8,43167.32682
4,4,7935,2014,117384.68,1,9,12770.11290

In [6]:
dados = dados.drop(columns = ['Unnamed: 0', 'milhas_por_ano', 'ano_modelo'], axis = 1)
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               23  35085.22134
1   40557.96        1               25  12622.05362
2   89627.50        0               17  11440.79806
3   95276.14        0                8  43167.32682
4  117384.68        1                9  12770.11290

In [7]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

x = dados[["preco", "idade_do_modelo", "km_por_ano"]]
y = dados["vendido"]

SEED = 5
np.random.seed(SEED)
raw_treino_x, raw_teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(raw_treino_x), len(raw_teste_x)))

scaler = StandardScaler()
scaler.fit(raw_treino_x)
treino_x = scaler.transform(raw_treino_x)
teste_x = scaler.transform(raw_teste_x)

modelo = SVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 7500 elementos e testaremos com 2500 elementos
A acurácia foi 71.00%

C:\Users\medei\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

In [8]:
from sklearn.dummy import DummyClassifier

dummy_stratified = DummyClassifier()
dummy_stratified.fit(treino_x, treino_y)
previsoes = dummy_stratified.score(teste_x, teste_y) * 100

print("A acurácia do dummy stratified foi %.2f%%" % acuracia)

A acurácia do dummy stratified foi 71.00%

In [9]:
from sklearn.dummy import DummyClassifier

dummy_mostfrequent = DummyClassifier()
dummy_mostfrequent.fit(treino_x, treino_y)
acuracia = dummy_mostfrequent.score(teste_x, teste_y) * 100

print("A acurácia do dummy stratified foi %.2f%%" % acuracia)

A acurácia do dummy stratified foi 58.00%

In [10]:
from sklearn.tree import export_graphviz
import graphviz

dot_data = export_graphviz(modelo, out_file = None, filled = True, rounded = True, class_names = ["não", "sim"], feature_names = x.columns)
grafico = graphviz.Source(dot_data)
grafico

AttributeError: 'LinearSVC' object has no attribute 'tree_'